$green_primary: #5db619;
$green_light: #91e951;
$green_dark: #228500;

* {
  margin: 0px;
  padding: 0px;
}

body {
  font: normal 1em Arial, sans-serif;
  color: $green_dark;
  background-color: black;
}

h1 {
  text-align: center;
  padding: 12px;
}

#board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 5.5em;
  background-color: #962e09bb;
  padding: 8px;
  margin: auto;
  border-radius: 8px;
  width: 50%;
}

#messageArea {
  position: absolute;
	top: 3.4em;
  width: 24%;
  text-align: center;
  font-size: 3em;
}
#messageArea > p{
  margin: 12px;
}

#num_chances {
  @extend #messageArea;
  top: 1em;
}

button {
	background-color: $green_light;
  border-color: $green_primary;
  border-radius: 2px;
  padding: 12px;
	font-size: 1em;
}
button:hover, button:active {
  cursor: pointer;
  border-color: $green_light;
}

.restart_button {
  @extend button;
  background-color: $green_primary;
  text-decoration: none;
  color: black;
  font-size: 0.7em;
}
.restart_button:hover, .restart_button:active {
  background-color: $green_light;
}

.hit {
	background: url("images/ship.png") no-repeat center;
}

.miss {
  background: url("images/miss.png") no-repeat center;
}

#battleship_img {
  position: absolute;
  width: 22%;
  right: 1em;
  top: 12em;
}

@media (max-width: 820px) {
  #board {
    width: 90%;
    grid-auto-rows: 3em;
  }

  #messageArea {
    position: relative;
    font-size: 1.5em;
    top: 0px;
    width: auto;
    margin: 0.2em auto;
    text-align: center;
  }

  .hit {
    background: url("images/ship_small.png") no-repeat center;
  }

  .miss {
    background: url("images/miss_small.png") no-repeat center;
  }

  #battleship_img {
    width: 28%;
    top: 30em;
    right: 8px;
  }
}
